/* USER CHAT STYLES */
.sentMessage {
  position: relative;
  background-color: #7c4188;
  max-width: 20rem;
}

.sentMessage::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 22px solid transparent;
  border-left-color: #7c4188;
  border-right: 0;
  margin-top: -20px;
  margin-right: -12px;
}

.receivedMessage {
  position: relative;
  background-color: #ffffff;
  max-width: 20rem;
}

.receivedMessage::after {
  content: '';
  position: absolute;
  left: -0.6rem;
  top: 50%;
  width: 0;
  height: 0;
  border: 22px solid transparent;
  border-right-color: #ffffff;
  border-left: 0;
  margin-top: -20px;
  margin-right: -12px;
}
